<footer class="footer">
    <ul class="inline">
      <li><%= link_to "About", "#", class: "btn btn-mini btn-link" %></li> |
      <li><%= link_to "Contact", "#", class: "btn btn-mini btn-link" %></li> |
      <li><%= link_to "Legal", "#", class: "btn btn-mini btn-link" %></li>
    </ul>
    <div class="container">

        <p>Lorem ipsum Ullamco esse anim dolore magna ex proident labore commodo dolore et in laborum. Lorem ipsum Anim in laborum id officia aute dolor. Lorem ipsum Fugiat in do amet sint tempor in sint aliqua sint proident reprehenderit irure.
        </p>

    </div>

</footer> 